#box2 {
    border: 2px white solid;
    position: absolute;
    z-index: 50;
}

#box3 {
    border: 2px white solid;
    position: absolute;
    width: 1000px;
    height: 1000px;
    left: -5%;
    top: -5%;
    z-index: 50;
}

#box-default {
    position: absolute;
}

.box {
    /*box-shadow: 2px 3px 21px rgba(0, 0, 0, 0.4);*/
    border: 1px white solid;
    width: 500px;
    height: 500px;
    z-index: 100;
    position: relative;
    /*display: block;*/
    margin: auto;
    top: 20%;
    /*margin-right: auto ;*/
    /*left: 50%;*/
    /*text-align: center ;*/
}

.mapboxgl-popup {
    max-width: 400px;
    background-color: black;
}
